[user]
	name = cavalleria
	email = 605370459@qq.com

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[oh-my-zsh]
    hide-dirty = 1
    hide-status = 1

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    df = diff
    lp = log --pretty=oneline --abbrev-commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[commit]
    template = ~/.gitmessage

[pull]
    rebase = true

[push]
    default = simple

[diff]
    tool = vim

[init]
    defaultBranch = main
