[user]
	name = cavalleria
	email = 605370459@qq.com

[oh-my-zsh]
    hide-dirty = 1

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    df = diff
    lp = log --pretty = oneline
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pull]
    rebase = true

[push]
    default = simple

[diff]
    tool = vim
